.c-main-footer {
	width: 100%;
	font-family: var(--main-text);
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.l-main-footer__item {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.c-main-footer__links {
	align-items: flex-start;
	padding: 1rem;
}

.c-main-footer__nike {
	box-sizing: border-box;
	color: white;
	width: 100px;
	height: 20%;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: capitalize;
	margin: 1rem;
	transition: all 0.2s;
	position: relative;
	padding: 1rem;
	position: relative;
}

.c-main-footer__nike::after {
	position: absolute;
	box-sizing: border-box;
	content: '';
	width: 100%;
	height: 100%;
	top: 2px;
	left: 0%;
	border-bottom: 5px solid var(--red);
	z-index: 0;
	transform: scaleX(0);
	background: var(--nav-bg-hover);
}
.c-main-footer__nike:hover::after {
	animation: background 0.5s forwards;
}
@keyframes background {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1.035);
	}
}
.c-main-footer__icon {
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: capitalize;
	margin: 1rem;
	transition: all 0.2s;
	position: relative;
	padding: 1rem;
	border-radius: 50%;
	box-shadow: 1px 1px var(--nav-bg-hover);
}
.c-main-footer__icon::after {
	position: absolute;
	content: '';
	width: 90%;
	height: 90%;
	top: 0px;
	left: 0px;
	border: 2px solid var(--red);
	border-radius: 50%;
	z-index: 1;
	transform: scaleX(0);
	background: var(--nav-bg-hover);
}
.c-main-footer__icon:hover {
	font-size: 1.4rem;
	box-shadow: none;
}
.c-main-footer__icon:hover::after {
	animation: background 0.2s forwards;
	box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.185);
}

.c-main-footer__sport img {
	width: 30px;
	transition: all 0.2s;
}
img.c-main-footer__box {
	width: 20px;
}
.c-main-footer__sport {
	overflow: hidden;
}
.c-main-footer__sport img:hover {
	transform: scale(1.5);
}
.c-main-footer__sport img:active {
	animation: footer-anime 0.2s infinite;
}

@keyframes footer-anime {
	50% {
		flex-grow: 0.05;
	}
}
