.main-page__title {
	font-family: var(--head-text);
	margin: 1rem;
	position: sticky;
	top: 4rem;
	left: 4rem;
	letter-spacing: 1rem;
}

.c-survey {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 2fr;
	grid-gap: 2rem;
	font-family: var(--main-text);
}
.c-survey__personal {
	grid-row: 1 / 2;
	grid-column: 1/2;
}
.c-survey__description {
	grid-row: 1 / 2;
	grid-column: 2/3;
}
.c-survey__endorsement {
	grid-row: 2 / 3;
	grid-column: 1/2;
}
.c-survey__promote {
	grid-row: 2 / 3;
	grid-column: 2/3;
}
.c-survey__item {
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 1rem;
}

.c-survey__title {
	font-weight: bold;
	font-family: var(--head-text);
}

.c-survey__content {
	list-style: none;
}

.c-survey__label {
	display: inline-block;

	min-width: max-content;
}

.c-personal__label {
	width: 40%;
}

.c-survey__input {
	display: inline-block;
	width: 50%;
	outline: none;
	padding-top: 1rem;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid var(--red);
	font-size: 1.2rem;
}

.c-survey__selector {
	width: 100%;
	padding: 0.5rem;
	margin: 0.5rem;
	outline: none;
	padding-top: 1rem;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid var(--red);
	font-size: 1.2rem;
}

.c-improtant-feature__option {
	text-transform: capitalize;
}

.c-survey__subtitle {
	font-weight: normal;
	font-size: 1rem;
	margin: 0.5rem;
}

.c-survey__radio-btn {
	display: none;
}

.c-endorsement__label {
	display: inline-block;
	padding: 0.2rem;
	margin: 1rem 0.8rem;
	height: 40px;
	/* width: 100px; */
	text-align: center;
	line-height: 30px;
	min-width: max-content;
	border: 2px solid transparent;
	border-bottom: 2px solid black;
}

.c-survey__radio-btn:checked + .c-endorsement__label {
	border-bottom: 3px solid var(--red);
	background-color: white;
	border-radius: 0.5rem 0.5rem 0 0;
}

.c-survey__radio-btn:hover + .c-endorsement__label {
	border-bottom: 3px solid var(--red);
}

.l-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.c-cost__label {
	display: inline-block;
	padding: 0.2rem;
	margin: 1rem;
	height: 40px;
	width: 100px;
	text-align: center;
	line-height: 30px;
	min-width: max-content;
	border: 2px solid transparent;
}

.c-cost__label--sAgree {
	background-color: #24242460;
	color: white;
}

.c-cost__label--agree {
	background-color: #2424249d;
	color: white;
}

.c-cost__label--undecided {
	background-color: #242424b0;
	color: white;
}

.c-cost__label--disgree {
	background-color: #242424e0;
	color: white;
}

.c-cost__label--sDisgree {
	background-color: var(--black);
	color: white;
}

.c-survey__radio-btn:hover + .c-cost__label {
	border-bottom: 3px solid var(--red);
}
.c-survey__radio-btn:checked + .c-cost__label {
	border-bottom: 3px solid var(--red);
	background-color: white;
	color: #242424;
	border-radius: 0.5rem 0.5rem 0 0;
}
.c-survey__check-btn {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	position: relative;
	margin-right: 0.5rem;
}
.c-survey__check-btn::after {
	content: '';
	position: absolute;
	top: -15px;
	left: -10px;
	width: 15px;
	height: 15px;
	border: 2px solid #242424;
}
.c-survey__check-btn::before {
	content: '\2713';
	position: absolute;
	top: -22px;
	left: -8px;
	font-size: 22px;
	font-weight: bolder;
	color: var(--red);
	visibility: hidden;
}
.c-survey__check-btn:checked::before {
	visibility: visible;
}
.c-survey__check-btn:checked + .c-promote__label {
	color: var(--red);
}
.c-survey__check-btn:checked::after {
	border-color: transparent;
}
.c-promote__content {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 1rem;
}
.c-survey__btn {
	width: 100%;
	height: 70px;
	font-size: 1.5rem;
	padding: 0.2rem;
	text-transform: uppercase;
	border: none;
	outline: none;
	background-color: var(--black);
	color: white;
}
.c-survey__btn:hover {
	background-color: var(--red);
}
@media screen and (max-width: 767.98px) {
	.main-page__title {
		padding: 0.5rem;
		top: 3rem;
		background-color: var(--main-bg);
		z-index: 1;
	}
	.c-survey {
		grid-gap: 0.5rem;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 1fr 1fr 2fr 2fr;
	}
	.c-survey__item {
		grid-column: 1/2;
		padding: 1rem;
		margin: 1rem;
		border-radius: 0.5rem;
	}
	.c-survey__personal {
		grid-row: 1 / 2;
	}
	.c-survey__description {
		grid-row: 2 / 3;
	}
	.c-survey__endorsement {
		grid-row: 3 / 4;
	}
	.c-survey__promote {
		grid-row: 4 / 5;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.main-page__title {
		padding: 1rem;
		top: 3rem;
		background-color: var(--main-bg);
		z-index: 1;
	}
	.c-survey {
		grid-gap: 0.5rem;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr 1fr 2fr 2fr;
	}
	.c-survey__item {
		padding: 1rem;
		margin: 1rem;
		border-radius: 0.5rem;
	}
	.c-survey__personal {
		grid-row: 1 / 2;
		grid-column: 2/ 5;
	}
	.c-survey__description {
		grid-row: 2 / 3;
		grid-column: 2/ 5;
	}
	.c-survey__endorsement {
		grid-row: 3 / 4;
		grid-column: 2/ 5;
	}
	.c-survey__promote {
		grid-row: 4 / 5;
		grid-column: 2/ 5;
	}
}
