@font-face {
	font-family: 'scr';
	src: url('../script/Anton/Anton-Regular.ttf');
}
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #242424;
	align-items: center;
	padding: 0 10px;
	height: 4rem;
	width: 100%;
}
header img {
	width: 60px;
}

nav {
	width: 70%;
	height: 2rem;
	display: flex;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	width: 1500px;
	line-height: 2rem;
	font-weight: 900;
	font-size: 1.3rem;
	margin-left: 0.5rem;
	text-align: center;
	font-family: serif;
	transition: all 0.2s;
	position: relative;
}
nav a:hover {
	background: linear-gradient(
		to bottom,
		rgb(0, 255, 242) 55%,
		rgb(10, 218, 131) 80%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: scr;
}
nav a::after {
	position: absolute;
	content: '';
	width: 50%;
	height: 0.1rem;
	transition: all 0.05s;
	bottom: 0;
	left: 25%;
}
nav a:hover::after {
	background: linear-gradient(
		to bottom,
		rgb(0, 255, 242) 55%,
		rgb(10, 218, 131) 80%
	);
	animation: background 0.5s forwards;
}
@keyframes background {
	from {
		transform: scale(0.6);
	}
	to {
		transform: scale(1.5);
	}
}
.active {
	background: linear-gradient(
		to bottom,
		rgb(0, 255, 242) 55%,
		rgb(10, 218, 131) 80%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: scr;
}
.active::after {
	position: absolute;
	content: '';
	width: 50%;
	height: 0.1rem;
	transition: all 0.05s;
	bottom: 0;
	left: 25%;
	background: linear-gradient(
		to bottom,
		rgb(0, 255, 242) 55%,
		rgb(10, 218, 131) 80%
	);
}
