/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Orbitron-Bold";

  src: url("./fonts/Orbitron-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Orbitron-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}