.founders,
.key-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 3rem;
	height: 100%;
}
.section__title {
	width: 100%;
	font-family: var(--head-text);
	font-size: 2rem;
	text-transform: uppercase;
	margin: 5rem 0;
	text-align: start;
}
.card {
	perspective: 1000px;
	width: 280px;
	height: 350px;
}
.card__inner {
	position: relative;
	transition: all 0.7s;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	border-radius: 2%;
	font-family: var(--main-text);
	cursor: pointer;
}
.card:hover .card__inner {
	box-shadow: 0 8px 16px 16px rgba(73, 53, 53, 0.2);
}
.card:hover .card__inner {
	transform: rotateY(180deg);
}
.card__front,
.card__back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	font-size: 0.9rem;
	padding: 1rem;
	text-align: center;
	border-bottom: 4px solid var(--red);
}
.card__back {
	transform: rotateY(180deg);
	padding: 1rem;
}
.card__front-img {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 1rem 2rem;
}
.card__front-name {
	margin-bottom: 1.2rem;
}
.card__front-title {
	margin-bottom: 1rem;
	color: var(--red);
}
.card__front-nickname {
	font-style: italic;
}
.card__back-item {
	margin-bottom: 1rem;
}
.link a {
	color: black;
	font-size: 30px;
}
.link a:hover {
	color: var(--red);
}
@media screen and (max-width: 768px) {
	.section__title {
		text-align: center;
	}
	.card {
		margin: 2rem;
		width: 200px;
		height: 320px;
	}
	.card__front,
	.card__back {
		font-size: 0.7rem;
		padding: 0.5rem;
		text-align: center;
		border-bottom: 4px solid var(--red);
	}
	.card__front-img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin: 0 1rem 1rem;
	}
	.card__front-title {
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
		color: var(--red);
	}
	.card__back-item.link a {
		font-size: 1rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.section__title {
		text-align: center;
	}
	.card {
		margin: 2rem;
	}
}
