@media only screen and (max-width: 600px) {
	.c-main-header__logo {
		display: none;
	}
	.c-main-header__nav {
		width: 100%;
	}
	.l-main-footer__item {
		flex-direction: column;
	}

	.c-main-footer__nike {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
	.c-main-footer__icon {
		font-size: 1rem;
		margin: 1rem;
		padding: 1rem;
	}
	.c-main-footer__links {
		align-items: center;
	}
	.c-main-header__list-link,
	.c-main-header__list-link--active {
		padding: 0.5rem;
		font-size: 1.1rem;
	}
	.c-main-header__list-link--active::after {
		top: 4px;
	}
	.c-main-footer__soc-media {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 3rem 0 1rem;
	}

	.c-main-footer__nike::after {
		display: none;
	}
	.c-main-footer__icon::after {
		display: none;
	}
	.c-main-footer__sport {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.c-main-footer__sport img {
		margin: 0.5rem;
	}
}
@media screen and (min-width: 600px) and (max-width: 767.98px) {
	.c-main-header__nav {
		width: 100%;
	}
	.c-main-header__image {
		width: 100px;
	}
	.c-main-header__list {
		flex-direction: row;
	}
	.c-main-header__list-link,
	.c-main-header__list-link--active {
		padding: 1rem;
		font-size: 1.3rem;
	}
	.c-main-header__logo {
		display: none;
	}
	.c-main-header__list-link::after {
		display: none;
	}
	.c-main-header__list-link--active::after {
		top: -4px;
	}
	.c-main-footer__soc-media {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		margin: 2rem 0 1rem;
	}
	.l-main-footer__item {
		flex-direction: column;
	}
	.c-main-footer__nike::after {
		display: none;
	}
	.c-main-footer__icon::after {
		display: none;
	}
	.c-main-footer__sport {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.c-main-footer__sport img {
		margin: 1rem;
	}
	.c-main-footer__sport img:last-child {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.c-main-header__nav {
		width: 80%;
	}
	.c-main-header__list {
		flex-direction: row;
		width: 100%;
	}
}
@media (min-width: 991.98px) and (max-width: 1200px) {
	.c-main-header {
		width: 100%;
	}
	.c-main-header__nav {
		width: 40%;
	}
	.c-main-header__list {
		flex-direction: row;
		width: 100%;
	}
	.c-main-header__list-link,
	.c-main-header__list-link--active {
		padding: 1rem;
		font-size: 1.2rem;
	}
}
